/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: BFCONVERT {
        ext.args = ["",
            params.noflat ? "-noflat" : "",
            params.series ? "-series ${params.series}" : "",
            params.timepoint ? "-timepoint ${params.timepoint}" : "",
            params.channel ? "-channel ${params.channel}" : "",
            params.z ? "-z ${params.z}" : "",
            params.range ? "-range ${params.range}" : "",
            params.tiley ? "-tiley ${params.tiley}" : "",
            params.tilex ? "-tiley ${params.tilex}" : "",
            params.crop ? "-crop ${params.crop}" : "",
            params.compression ? "-compression ${params.compression}" : "",
            params.overwrite ? "-overwrite" : "",
            params.nooverwrite ? "-nooverwrite" : "",
            params.nolookup ? "-nolookup" : "",
            params.bigtiff ? "-bigtiff" : "",
            params.pyramid_resolutions ? "-pyramid-resolutions ${params.pyramid_resolutions}" : "",
            params.pyramid_scale ? "-pyramid-scale ${params.pyramid_scale}" : "",
        ].join(" ").trim()
    }


    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}_output" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

}
